In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
data = np.array([1,2,3,4,5,6,7,7])
print(data.mean(), np.mean(data), np.median(data), stats.mode(data)[0][0])

4.375 4.375 4.5 7

In [3]:
from statistics import variance, stdev
game_points = np.array([35,56,43,59,63,79,35,41,64,43,93,60,77,24,82])
print(game_points.std(ddof=1))
dt_var = variance(game_points) ; print ("Sample variance:", dt_var)

dt_std = stdev(game_points) ; print ("Sample std.dev:", dt_std)

dt_rng = np.max(game_points,axis=0) - np.min(game_points,axis=0) ; print ("Range:",dt_rng)
print(game_points.max() - game_points.min())
print ("Quantiles:")
for val in [20,80,100]:
    dt_qntls = np.percentile(game_points,val)
    print (str(val)+"%" ,dt_qntls)

q75, q25 = np.percentile(game_points, [75 ,25]); print ("Interquartile range:",q75-q25)

20.015946024060298
Sample variance: 400
Sample std.dev: 20.0
Range: 69
69
Quantiles:
20% 39.800000000000004
80% 77.4
100% 93.0
Interquartile range: 28.5

In [4]:
xbar = 990; mu0 = 1000; s = 12.5; n = 30
t_smple = (xbar-mu0)/(s/np.sqrt(float(n))); print ("TestStatistic:", t_smple)
alpha = 0.05
t_alpha = stats.t.ppf(alpha,n-1)
print ("Critical value from t-table:", t_alpha)
p_val = stats.t.sf(np.abs(t_smple), n-1)
print ("Lower tail p-value from t-table", p_val)

TestStatistic: -4.381780460041329
Critical value from t-table: -1.6991270265334977
Lower tail p-value from t-table 7.035025729010886e-05

In [5]:
xbar = 67; mu0 = 52; s = 16.3
z = (67-52)/16.3
p_val = 1- stats.norm.cdf(z)
print ("Prob. to score more than 67 is ", p_val*100,"%")

Prob. to score more than 67 is  17.872226751475175 %

In [28]:
a = np.array([[7,1,3], [87,18,84], [12,3,4], [9,1,7]])
cols = np.array(['ex_frequent', 'ex_none', 'ex_sometimes'])
idx = np.array(['sm_heavy', 'sm_never', 'sm_occas', 'sm_regul'])
df = pd.DataFrame(a, columns=cols, index=idx)
df

          ex_frequent  ex_none  ex_sometimes
sm_heavy            7        1             3
sm_never           87       18            84
sm_occas           12        3             4
sm_regul            9        1             7

In [32]:
contg = stats.chi2_contingency(observed= df)
contg[1]
# this means there is no dependency between the smoking habit and exercise behavior

0.48284216946545633

In [39]:
fert = np.array([[62, 54, 48], [62, 56, 62], [90, 58, 92],  [42, 36, 96], [84, 72, 92], [64, 34, 80]])
df_fert = pd.DataFrame(fert, columns=['fertilizer_1', 'fertilizer_2','fertilizer_3'])
df_fert

   fertilizer_1  fertilizer_2  fertilizer_3
0            62            54            48
1            62            56            62
2            90            58            92
3            42            36            96
4            84            72            92
5            64            34            80

In [43]:
one_way_anova = stats.f_oneway(df_fert["fertilizer_1"],df_fert["fertilizer_2"], df_fert["fertilizer_3"])
print(f'Statistic: {one_way_anova[0]}, p-value: {one_way_anova[1]}')
#we can't reject the null hypothesis

Statistic: 3.6634935025687523, p-value: 0.05063590143901569